In [1]:
import pandas as pd

In [2]:
base = pd.read_parquet("G:\\Master\\Big Data\\Data\\D.C\\New\\HELP\\empty_base.parquet")

In [3]:
base

,hour,dayofyear,month,air_temp,visibility,wind_speed,weather_class,station,count
0,5,346,12,-0.655556,10.0,6.262222,clear,31118,0
1,5,346,12,-0.655556,10.0,6.262222,clear,31518,0
2,5,346,12,-0.655556,10.0,6.262222,clear,31039,0
3,5,346,12,-0.655556,10.0,6.262222,clear,31713,0
4,5,346,12,-0.655556,10.0,6.262222,clear,31067,0
...,...,...,...,...,...,...,...,...,...
5063929,22,167,6,28.800000,10.0,11.559906,clear,31815,0
5063930,22,167,6,28.800000,10.0,11.559906,clear,31269,0
5063931,22,167,6,28.800000,10.0,11.559906,clear,31100,0
5063932,22,167,6,28.800000,10.0,11.559906,clear,31078,0
5063933,22,167,6,28.800000,10.0,11.559906,clear,31910,0

In [4]:
generated = pd.read_parquet("G:\\Master\\Big Data\\Data\\D.C\\New\\ml_dataset_extended_final.parquet")

In [5]:
generated

,hour,dayofyear,month,start_station_id,total_duration,count,air_temp,visibility,wind_speed,abs_distance,weather_class,lat,long
0,0,24,1,31270,409,1,7.60,10.0,0.00,1058.0,cloudy,38.894851,-77.023240
1,0,36,2,31283,1033,1,8.90,10.0,0.00,2403.0,clear,38.903658,-77.031737
2,0,39,2,31241,426,1,10.00,10.0,3.44,1391.0,cloudy,38.905900,-77.032500
3,0,41,2,31408,597,1,-1.20,10.0,8.05,1574.0,clear,38.975219,-77.016855
4,0,51,2,31503,867,1,1.60,10.0,4.61,1868.0,clear,38.912600,-77.013500
...,...,...,...,...,...,...,...,...,...,...,...,...,...
1277503,23,332,11,31281,303,1,6.80,10.0,17.27,506.0,clear,38.908640,-77.022770
1277504,23,335,12,31256,803,2,6.20,10.0,5.75,848.0,cloudy,38.895914,-77.026064
1277505,23,337,12,31229,1262,2,5.00,10.0,9.22,1493.5,clear,38.915540,-77.038180
1277506,23,350,12,31236,1877,2,1.25,10.0,9.22,2878.5,cloudy,38.907740,-77.071652
1277507,23,362,12,31649,1147,1,10.70,10.0,5.75,3970.0,clear,38.931991,-77.032956

In [14]:
reduced = generated[["hour", "dayofyear", "month", "air_temp", "visibility", "wind_speed", "weather_class", "start_station_id", "count"]]

In [15]:
reduced

,hour,dayofyear,month,air_temp,visibility,wind_speed,weather_class,start_station_id,count
0,0,24,1,7.60,10.0,0.00,cloudy,31270,1
1,0,36,2,8.90,10.0,0.00,clear,31283,1
2,0,39,2,10.00,10.0,3.44,cloudy,31241,1
3,0,41,2,-1.20,10.0,8.05,clear,31408,1
4,0,51,2,1.60,10.0,4.61,clear,31503,1
...,...,...,...,...,...,...,...,...,...
1277503,23,332,11,6.80,10.0,17.27,clear,31281,1
1277504,23,335,12,6.20,10.0,5.75,cloudy,31256,2
1277505,23,337,12,5.00,10.0,9.22,clear,31229,2
1277506,23,350,12,1.25,10.0,9.22,cloudy,31236,2
1277507,23,362,12,10.70,10.0,5.75,clear,31649,1

In [16]:
reduced.columns = ["hour", "dayofyear", "month", "air_temp", "visibility", "wind_speed", "weather_class", "station", "count"]

In [17]:
reduced

,hour,dayofyear,month,air_temp,visibility,wind_speed,weather_class,station,count
0,0,24,1,7.60,10.0,0.00,cloudy,31270,1
1,0,36,2,8.90,10.0,0.00,clear,31283,1
2,0,39,2,10.00,10.0,3.44,cloudy,31241,1
3,0,41,2,-1.20,10.0,8.05,clear,31408,1
4,0,51,2,1.60,10.0,4.61,clear,31503,1
...,...,...,...,...,...,...,...,...,...
1277503,23,332,11,6.80,10.0,17.27,clear,31281,1
1277504,23,335,12,6.20,10.0,5.75,cloudy,31256,2
1277505,23,337,12,5.00,10.0,9.22,clear,31229,2
1277506,23,350,12,1.25,10.0,9.22,cloudy,31236,2
1277507,23,362,12,10.70,10.0,5.75,clear,31649,1

In [18]:
result = pd.concat([reduced, base])

In [25]:
result.count()

hour             6341442
dayofyear        6341442
month            6341442
air_temp         6341442
visibility       6341187
wind_speed       6341442
weather_class    6341442
station          6341442
count            6341442
dtype: int64

In [26]:
result = result.sort_values(by=['count'], ascending=False)

In [27]:
result = result.drop_duplicates(subset=["hour", "dayofyear", "month", "station"], keep='first')

In [28]:
result.sort_values(by=['count'], ascending=False)

,hour,dayofyear,month,air_temp,visibility,wind_speed,weather_class,station,count
779268,23,274,10,26.650495,10.0,4.518713,clear,31209,101
312697,0,299,10,14.500000,10.0,3.440000,cloudy,31209,87
203825,23,288,10,14.587209,10.0,4.623256,clear,31209,86
1139733,13,97,4,12.582432,10.0,4.610000,cloudy,31288,74
433440,23,287,10,17.800000,10.0,0.000000,clear,31209,70
...,...,...,...,...,...,...,...,...,...
5060543,23,217,8,25.356522,10.0,7.950000,clear,31823,0
5060542,23,217,8,25.356522,10.0,7.950000,clear,32217,0
5060541,23,217,8,25.356522,10.0,7.950000,clear,31206,0
5060540,23,217,8,25.356522,10.0,7.950000,clear,32034,0
5063933,22,167,6,28.800000,10.0,11.559906,clear,31910,0

In [29]:
result

,hour,dayofyear,month,air_temp,visibility,wind_speed,weather_class,station,count
779268,23,274,10,26.650495,10.0,4.518713,clear,31209,101
312697,0,299,10,14.500000,10.0,3.440000,cloudy,31209,87
203825,23,288,10,14.587209,10.0,4.623256,clear,31209,86
1139733,13,97,4,12.582432,10.0,4.610000,cloudy,31288,74
433440,23,287,10,17.800000,10.0,0.000000,clear,31209,70
...,...,...,...,...,...,...,...,...,...
1687975,15,260,9,23.990290,10.0,10.439625,clear,31092,0
1687974,15,260,9,23.990290,10.0,10.439625,clear,32422,0
1687973,15,260,9,23.990290,10.0,10.439625,clear,31004,0
1687971,15,260,9,23.990290,10.0,10.439625,clear,32211,0
5063933,22,167,6,28.800000,10.0,11.559906,clear,31910,0

In [30]:
import pyspark
from pyspark.sql import SparkSession
from pyspark.sql import functions as F
from pyspark.sql.types import *

In [31]:
#Starting session
spark = SparkSession.builder.appName('BigData1').getOrCreate()
spark.sparkContext.setLogLevel("ERROR")

In [32]:
spark.conf.set("spark.sql.execution.arrow.enabled", "true")

In [33]:
df = spark.createDataFrame(result)