# 2. Bike stations and usage data

In this notebook, preprocessing and the exploration of the bike stations and bike check-ins data is done. Data from Washington D.C. downloaded from https://www.capitalbikeshare.com/system-data

In [1]:
from pyspark.sql import SparkSession
from pyspark.sql import functions as F
from pyspark.sql.types import *

In [2]:
spark = SparkSession.builder.appName('BigData').getOrCreate()
spark.conf.set("spark.sql.repl.eagerEval.enabled", True)

In [3]:
stations = spark.read.option("header", True).csv("hdfs://localhost:9000/Data/D.C/New/stations.csv")

In [4]:
stations.limit(10)

+---+--------------------+------------+------------------+-----------------+------------------+---------+------+-----------+-----------+---------+------+-------+------------+----------------+
| id|                name|terminalName|lastCommWithServer|              lat|              long|installed|locked|installDate|removalDate|temporary|public|nbBikes|nbEmptyDocks|latestUpdateTime|
+---+--------------------+------------+------------------+-----------------+------------------+---------+------+-----------+-----------+---------+------+-------+------------+----------------+
|  1| Eads St & 15th St S|       31000|     1590835639505|        38.858971|         -77.05323|     true| false|          0|       null|    false|  true|     12|           2|   1590827288583|
|  2| 18th St & S Eads St|       31001|     1590835561779|         38.85725|         -77.05332|     true| false|          0|       null|    false|  true|      2|           9|   1590826086864|
|  3|Crystal Dr & 20th...|       31002|     1590835597498|        38.856425|        -77.049232|     true| false|          0|       null|    false|  true|     13|           4|   1590826087288|
|  4|Crystal Dr & 15th...|       31003|     1590835631929|         38.86017|        -77.049593|     true| false|          0|       null|    false|  true|     10|           0|   1590801415972|
|  5|Aurora Hills Cmty...|       31004|     1590835590411|        38.857866|         -77.05949|     true| false|          0|       null|    false|  true|      0|          11|   1590825786529|
|  6|Pentagon City Met...|       31005|     1590835594427|        38.862303|        -77.059936|     true| false|          0|       null|    false|  true|     19|           0|   1590828803946|
|  7|Army Navy Dr & S ...|       31006|     1590835550630|          38.8637|          -77.0633|     true| false|          0|       null|    false|  true|      9|           6|   1590826087311|
|  8|Crystal City Metr...|       31007|     1590835577737|38.85740496261504|-77.05113172531128|     true| false|          0|       null|    false|  true|     18|           1|   1590829423555|
| 10|Crystal Dr & 27th...|       31009|     1590835553998|        38.848466|        -77.051514|     true| false|          0|       null|    false|  true|      4|           6|   1590826386239|
| 11|S Glebe Rd & Poto...|       31010|     1590835639782|          38.8426|          -77.0502|     true| false|          0|       null|    false|  true|      5|           6|   1590825786515|
+---+--------------------+------------+------------------+-----------------+------------------+---------+------+-----------+-----------+---------+------+-------+------------+----------------+

In [5]:
stations = stations.select('id', 'name', 'terminalName', 'lat', 'long', 'nbBikes', 'nbEmptyDocks')

In [6]:
stations.printSchema()

root
 |-- id: string (nullable = true)
 |-- name: string (nullable = true)
 |-- terminalName: string (nullable = true)
 |-- lat: string (nullable = true)
 |-- long: string (nullable = true)
 |-- nbBikes: string (nullable = true)
 |-- nbEmptyDocks: string (nullable = true)

In [7]:
stations = stations.withColumn('lat', stations.lat.cast(DoubleType()))
stations = stations.withColumn('long', stations.long.cast(DoubleType()))
stations = stations.withColumn('nbBikes', stations.nbBikes.cast(IntegerType()))
stations = stations.withColumn('nbEmptyDocks', stations.nbEmptyDocks.cast(IntegerType()))

In [8]:
from ipyleaflet import Map, Marker, MarkerCluster

station_rows = stations.collect()
markers = [Marker(location=(x.lat, x.long)) for x in station_rows]

m = Map(center=(38.900497, -77.007507), zoom=10)

marker_cluster = MarkerCluster(
    markers=(markers)
)

m.add_layer(marker_cluster);

m

Map(center=[38.900497, -77.007507], controls=(ZoomControl(options=['position', 'zoom_in_text', 'zoom_in_title'â€¦

In [9]:
#COLLECT BIKE USAGE DATA FOR ALL MONTHS
bike_data_raw = spark.read.option("header", True).csv("hdfs://localhost:9000/Data/D.C/New/bikedata/*-capitalbikeshare-tripdata/*-capitalbikeshare-tripdata.csv")
bike_data = bike_data_raw

In [11]:
bike_data.limit(10)

+--------+-------------------+-------------------+--------------------+--------------------+------------------+--------------------+-----------+-----------+
|Duration|         Start date|           End date|Start station number|       Start station|End station number|         End station|Bike number|Member type|
+--------+-------------------+-------------------+--------------------+--------------------+------------------+--------------------+-----------+-----------+
|     357|2019-08-01 00:00:34|2019-08-01 00:06:31|               31117|15th & Euclid St  NW|             31115|Columbia Rd & Geo...|     W21052|     Member|
|    1100|2019-08-01 00:01:48|2019-08-01 00:20:09|               31407|14th St & Colorad...|             31115|Columbia Rd & Geo...|     W01101|     Member|
|    1406|2019-08-01 00:04:04|2019-08-01 00:27:31|               31407|14th St & Colorad...|             31234|20th & O St NW / ...|     W20870|     Casual|
|    3667|2019-08-01 00:05:09|2019-08-01 01:06:16|               31907|Franklin St & S W...|             31907|Franklin St & S W...|     W00966|     Member|
|     282|2019-08-01 00:05:13|2019-08-01 00:09:56|               31201|      15th & P St NW|             31234|20th & O St NW / ...|     W20443|     Member|
|    3596|2019-08-01 00:05:14|2019-08-01 01:05:10|               31907|Franklin St & S W...|             31907|Franklin St & S W...|     W21108|     Member|
|    1095|2019-08-01 00:05:41|2019-08-01 00:23:57|               31246|M St & Pennsylvan...|             31295|   Potomac & M St NW|     W01369|     Casual|
|     527|2019-08-01 00:05:59|2019-08-01 00:14:47|               31272|Washington & Inde...|             31269|3rd St & Pennsylv...|     W20165|     Casual|
|     619|2019-08-01 00:06:14|2019-08-01 00:16:33|               31218|L'Enfant Plaza / ...|             31650|       1st & M St SE|     W01248|     Member|
|    1000|2019-08-01 00:06:40|2019-08-01 00:23:21|               31246|M St & Pennsylvan...|             31295|   Potomac & M St NW|     W00222|     Member|
+--------+-------------------+-------------------+--------------------+--------------------+------------------+--------------------+-----------+-----------+

In [12]:
bike_data.printSchema()

root
 |-- Duration: string (nullable = true)
 |-- Start date: string (nullable = true)
 |-- End date: string (nullable = true)
 |-- Start station number: string (nullable = true)
 |-- Start station: string (nullable = true)
 |-- End station number: string (nullable = true)
 |-- End station: string (nullable = true)
 |-- Bike number: string (nullable = true)
 |-- Member type: string (nullable = true)

In [16]:
from pyspark.sql.functions import col, size

sample = bike_data_raw.where((bike_data_raw['Start station number'] =='31114') & (bike_data_raw['End station number'] =='31282') & (bike_data_raw['Duration'] == '299'))
sample = sample.withColumn('start_date', F.to_timestamp(lit(sample['Start date'], "yyyy-MM-dd HH:mm:ss"))
sample = sample.withColumn('end_date', F.to_timestamp(sample['End date'], "yyyy-MM-dd HH:mm:ss"))

SyntaxError: invalid syntax (<ipython-input-16-5b9784f11700>, line 5)

In [17]:
sample = bike_data_raw.where(bike_data_raw['Start date'].rlike('2019-03-31 02'))
sample.count()

89

In [49]:
bad_dates = sample.select('Start date')

In [50]:
bad_dates.show()

+-------------------+
|         Start date|
+-------------------+
|2019-03-31 02:00:49|
|2019-03-31 02:01:21|
|2019-03-31 02:02:01|
|2019-03-31 02:02:51|
|2019-03-31 02:03:01|
|2019-03-31 02:03:38|
|2019-03-31 02:04:11|
|2019-03-31 02:04:14|
|2019-03-31 02:04:52|
|2019-03-31 02:05:39|
|2019-03-31 02:05:50|
|2019-03-31 02:06:43|
|2019-03-31 02:07:07|
|2019-03-31 02:07:20|
|2019-03-31 02:07:28|
|2019-03-31 02:08:43|
|2019-03-31 02:09:28|
|2019-03-31 02:09:58|
|2019-03-31 02:10:10|
|2019-03-31 02:10:26|
+-------------------+
only showing top 20 rows

In [53]:
sample = sample.withColumn('start_date', F.to_timestamp(F.lit(sample['Start date']), "yyyy-MM-dd HH:mm:ss"))
sample = sample.withColumn('end_date', F.to_timestamp(F.lit(sample['End date']), "yyyy-MM-dd HH:mm:ss"))
sample

+--------+-------------------+-------------------+--------------------+--------------------+------------------+--------------------+-----------+-----------+----------+--------+
|Duration|         Start date|           End date|Start station number|       Start station|End station number|         End station|Bike number|Member type|start_date|end_date|
+--------+-------------------+-------------------+--------------------+--------------------+------------------+--------------------+-----------+-----------+----------+--------+
|     492|2019-03-31 02:00:49|2019-03-31 02:09:01|               31614|      11th & H St NE|             31630|15th & East Capit...|     W01424|     Member|      null|    null|
|     861|2019-03-31 02:01:21|2019-03-31 02:15:43|               31202|      14th & R St NW|             31103|16th & Harvard St NW|     W01301|     Member|      null|    null|
|     338|2019-03-31 02:02:01|2019-03-31 02:07:40|               31104|Adams Mill & Colu...|             31105|14th & Harvard St NW|     W20793|     Member|      null|    null|
|    1639|2019-03-31 02:02:51|2019-03-31 02:30:10|               31508|Gallaudet / 8th S...|             31119|14th & Belmont St NW|      78240|     Member|      null|    null|
|     267|2019-03-31 02:03:01|2019-03-31 02:07:29|               31102| 11th & Kenyon St NW|             31120|10th & Florida Av...|      75651|     Member|      null|    null|
|     763|2019-03-31 02:03:38|2019-03-31 02:16:22|               31281|       8th & O St NW|             31611|      13th & H St NE|     W23790|     Member|      null|    null|
|     481|2019-03-31 02:04:11|2019-03-31 02:12:13|               31114|18th St & Wyoming...|             31202|      14th & R St NW|     W01194|     Member|      null|    null|
|     260|2019-03-31 02:04:14|2019-03-31 02:08:34|               31020|Wilson Blvd & N F...|             31029|N Veitch St & 20t...|     W00996|     Member|      null|    null|
|    1131|2019-03-31 02:04:52|2019-03-31 02:23:44|               31114|18th St & Wyoming...|             31265|5th St & Massachu...|     W00504|     Member|      null|    null|
|    1338|2019-03-31 02:05:39|2019-03-31 02:27:57|               31225|C & O Canal & Wis...|             31225|C & O Canal & Wis...|     W21930|     Casual|      null|    null|
|    1337|2019-03-31 02:05:50|2019-03-31 02:28:07|               31225|C & O Canal & Wis...|             31225|C & O Canal & Wis...|     W22514|     Casual|      null|    null|
|    1213|2019-03-31 02:06:43|2019-03-31 02:26:57|               31241|       Thomas Circle|             31650|       1st & M St SE|     W24001|     Member|      null|    null|
|     263|2019-03-31 02:07:07|2019-03-31 02:11:31|               31125|      15th & W St NW|             31602|Park Rd & Holmead...|      78345|     Member|      null|    null|
|     424|2019-03-31 02:07:20|2019-03-31 02:14:25|               31203|14th & Rhode Isla...|             31503|Florida Ave & R S...|     W20168|     Member|      null|    null|
|     298|2019-03-31 02:07:28|2019-03-31 02:12:27|               31278|      18th & R St NW|             31229|New Hampshire Ave...|     W20850|     Member|      null|    null|
|     844|2019-03-31 02:08:43|2019-03-31 02:22:48|               31258|    Lincoln Memorial|             31248|Smithsonian-Natio...|     W23928|     Member|      null|    null|
|     299|2019-03-31 02:09:28|2019-03-31 02:14:28|               31114|18th St & Wyoming...|             31282|      16th & R St NW|     W22313|     Member|      null|    null|
|    1087|2019-03-31 02:09:58|2019-03-31 02:28:05|               31225|C & O Canal & Wis...|             31225|C & O Canal & Wis...|     W21238|     Casual|      null|    null|
|    1035|2019-03-31 02:10:10|2019-03-31 02:27:25|               31116|California St & F...|             31275|New Hampshire Ave...|     W21324|     Casual|      null|    null|
|    1005|2019-03-31 02:10:26|2019-03-31 02:27:11|               31116|California St & F...|             31275|New Hampshire Ave...|     W22999|     Casual|      null|    null|
+--------+-------------------+-------------------+--------------------+--------------------+------------------+--------------------+-----------+-----------+----------+--------+
only showing top 20 rows

In [30]:
sample

+--------+-------------------+-------------------+--------------------+--------------------+------------------+--------------+-----------+-----------+----------+--------+
|Duration|         Start date|           End date|Start station number|       Start station|End station number|   End station|Bike number|Member type|start_date|end_date|
+--------+-------------------+-------------------+--------------------+--------------------+------------------+--------------+-----------+-----------+----------+--------+
|     299|2019-03-31 02:09:28|2019-03-31 02:14:28|               31114|18th St & Wyoming...|             31282|16th & R St NW|     W22313|     Member|      null|    null|
+--------+-------------------+-------------------+--------------------+--------------------+------------------+--------------+-----------+-----------+----------+--------+

In [36]:
bike_data = bike_data.withColumn('duration', bike_data['Duration'].cast(IntegerType()))
bike_data = bike_data.withColumn('start_date', F.to_timestamp(bike_data['Start date'], "yyyy-MM-dd HH:mm:ss"))
bike_data = bike_data.withColumn('end_date', F.to_timestamp(bike_data['End date'], "yyyy-MM-dd HH:mm:ss"))
bike_data = bike_data.withColumn('start_station_id', bike_data['Start station number'])
bike_data = bike_data.withColumn('start_station_name', bike_data['Start station'])
bike_data = bike_data.withColumn('end_station_id', bike_data['End station number'])
bike_data = bike_data.withColumn('end_station_name', bike_data['End station'])
bike_data = bike_data.withColumn('bike_number', bike_data['Bike number'])
bike_data = bike_data.withColumn('member_type', bike_data['Member type'])

bike_data = bike_data.select('duration', 'start_date', 'end_date', 'start_station_id', 'start_station_name', 'end_station_id', 'end_station_name', 'bike_number', 'member_type')

Next thing we want to do is to extract all stations that are mentioned in bike usage data start and end locations.

In [37]:
#HELP function
#here is the mistake

sorted_bikes = bike_data.sort('start_date')
sorted_bikes.show(100)

+--------+-------------------+-------------------+----------------+--------------------+--------------+--------------------+-----------+-----------+
|duration|         start_date|           end_date|start_station_id|  start_station_name|end_station_id|    end_station_name|bike_number|member_type|
+--------+-------------------+-------------------+----------------+--------------------+--------------+--------------------+-----------+-----------+
|     677|               null|               null|           31202|      14th & R St NW|         31519|       1st & O St NW|     W00390|     Member|
|    1830|               null|               null|           31401|14th St & Spring ...|         31408|        Takoma Metro|     W20879|     Member|
|     578|               null|               null|           31045|Commerce St & Fay...|         31042|Market Square / K...|     W23700|     Member|
|     925|               null|2019-03-31 03:04:50|           31125|      15th & W St NW|         31280|      11th & S St NW|     W01365|     Member|
|     424|               null|2019-03-31 03:04:18|           31308| 39th & Veazey St NW|         32014|Friendship Hts Me...|     W01280|     Member|
|     153|               null|               null|           31923|Columbia Pike & S...|         31068|Arlington Mill Cm...|     W21435|     Member|
|     169|               null|               null|           31124| 14th & Irving St NW|         31401|14th St & Spring ...|     W20546|     Member|
|     299|               null|2019-03-31 03:01:22|           31612|D St & Maryland A...|         31622|      13th & D St NE|     W21120|     Member|
|    1075|               null|2019-03-31 03:12:24|           31111|      10th & U St NW|         31401|14th St & Spring ...|     W01054|     Member|
|    1493|               null|               null|           31506|1st & Rhode Islan...|         31111|      10th & U St NW|      78158|     Member|
|    1793|               null|2019-03-31 03:20:51|           31111|      10th & U St NW|         31296|Columbia & Ontari...|      78158|     Member|
|     387|               null|               null|           31121|Calvert St & Wood...|         31305|Connecticut Ave &...|     W22081|     Casual|
|     763|               null|               null|           31281|       8th & O St NW|         31611|      13th & H St NE|     W23790|     Member|
|    1227|               null|               null|           31248|Smithsonian-Natio...|         31505|Eckington Pl & Q ...|     W23987|     Member|
|     499|               null|               null|           31111|      10th & U St NW|         31223|Convention Center...|     W22030|     Member|
|     483|               null|               null|           31611|      13th & H St NE|         31630|15th & East Capit...|     W00135|     Member|
|    2353|               null|2019-03-31 03:36:33|           31109|       7th & T St NW|         31258|    Lincoln Memorial|     W23359|     Member|
|     440|               null|               null|           31122| 16th & Irving St NW|         31123| 14th & Girard St NW|     W23090|     Member|
|     608|               null|               null|           31070|Arlington Blvd & ...|         31923|Columbia Pike & S...|      78325|     Member|
|    3009|               null|2019-03-31 03:35:35|           31109|       7th & T St NW|         31258|    Lincoln Memorial|     W01210|     Member|
|     629|               null|               null|           31227|13th St & New Yor...|         31110|20th St & Florida...|     W23650|     Member|
|     259|               null|               null|           31203|14th & Rhode Isla...|         31291|Vermont Ave & I S...|     W21254|     Member|
|     876|               null|               null|           31109|       7th & T St NW|         31109|       7th & T St NW|     W00494|     Casual|
|     837|               null|               null|           31503|Florida Ave & R S...|         31612|D St & Maryland A...|     W21120|     Member|
|    1119|               null|2019-03-31 03:00:29|           31245|7th & R St NW / S...|         31513|Rhode Island Ave ...|     W21119|     Member|
|     438|               null|               null|           31280|      11th & S St NW|         31102| 11th & Kenyon St NW|     W20254|     Casual|
|    4503|               null|2019-03-31 03:55:15|           31109|       7th & T St NW|         31289|Henry Bacon Dr & ...|     W00461|     Casual|
|     576|               null|               null|           31202|      14th & R St NW|         31207|Georgia Ave and F...|     W00865|     Member|
|    1963|               null|               null|           31258|    Lincoln Memorial|         31505|Eckington Pl & Q ...|     W20746|     Casual|
|     509|               null|               null|           31109|       7th & T St NW|         31109|       7th & T St NW|     W21259|     Member|
|    1766|               null|2019-03-31 03:05:13|           31202|      14th & R St NW|         31269|3rd St & Pennsylv...|     W00249|     Member|
|     860|               null|               null|           31278|      18th & R St NW|         31519|       1st & O St NW|     W23066|     Member|
|    1096|               null|               null|           31202|      14th & R St NW|         31616|       3rd & H St NE|     W22545|     Member|
|     414|               null|               null|           31102| 11th & Kenyon St NW|         31117|15th & Euclid St  NW|     W21196|     Casual|
|     501|               null|               null|           31648|Potomac Ave & Hal...|         31609|Maine Ave & 7th S...|     W00304|     Member|
|     724|               null|               null|           31298|      15th & M St NW|         31256|      10th & E St NW|     W21736|     Casual|
|    1530|               null|2019-03-31 03:15:12|           31111|      10th & U St NW|         31015|Rosslyn Metro / W...|     W20849|     Casual|
|     448|               null|               null|           31207|Georgia Ave and F...|         31404|  9th & Upshur St NW|     W23626|     Member|
|     492|               null|               null|           31614|      11th & H St NE|         31630|15th & East Capit...|     W01424|     Member|
|    2614|               null|2019-03-31 03:42:14|           31109|       7th & T St NW|         31258|    Lincoln Memorial|     W00494|     Casual|
|     338|               null|               null|           31104|Adams Mill & Colu...|         31105|14th & Harvard St NW|     W20793|     Member|
|    1213|               null|               null|           31241|       Thomas Circle|         31650|       1st & M St SE|     W24001|     Member|
|     954|               null|2019-03-31 03:03:06|           31213|      17th & K St NW|         31122| 16th & Irving St NW|     W00128|     Member|
|     861|               null|               null|           31202|      14th & R St NW|         31103|16th & Harvard St NW|     W01301|     Member|
|    1337|               null|               null|           31225|C & O Canal & Wis...|         31225|C & O Canal & Wis...|     W22514|     Casual|
|     409|               null|               null|           31114|18th St & Wyoming...|         31324|18th & New Hampsh...|     W21971|     Member|
|    2798|               null|2019-03-31 03:09:37|           31111|      10th & U St NW|         31015|Rosslyn Metro / W...|     W22144|     Member|
|     476|               null|               null|           31611|      13th & H St NE|         31618|4th & East Capito...|     W24087|     Member|
|     477|               null|               null|           31114|18th St & Wyoming...|         31324|18th & New Hampsh...|     W20013|     Member|
|     414|               null|               null|           31102| 11th & Kenyon St NW|         31117|15th & Euclid St  NW|     W01480|     Member|
|     390|               null|               null|           31286|      11th & O St NW|         31506|1st & Rhode Islan...|     W21502|     Member|
|    1467|               null|               null|           31324|18th & New Hampsh...|         31070|Arlington Blvd & ...|      75655|     Member|
|     314|               null|               null|           31519|       1st & O St NW|         31506|1st & Rhode Islan...|     W00170|     Member|
|     243|               null|               null|           31116|California St & F...|         31119|14th & Belmont St NW|     W23498|     Member|
|     511|               null|               null|           31706|     Fairfax Village|         31706|     Fairfax Village|      78154|     Member|
|     178|               null|               null|           31110|20th St & Florida...|         31324|18th & New Hampsh...|     W00445|     Member|
|     454|               null|               null|           31239|Rhode Island & Co...|         31263|      10th & K St NW|     W23900|     Member|
|     746|               null|               null|           31201|      15th & P St NW|         31228|       8th & H St NW|     W20506|     Member|
|    1039|               null|               null|           31522|2nd St & Seaton P...|         31406| 14th & Upshur St NW|      78254|     Member|
|    1731|               null|               null|           31107|Lamont & Mt Pleas...|         31107|Lamont & Mt Pleas...|     W00810|     Member|
|     545|               null|               null|           31114|18th St & Wyoming...|         31257|22nd & I St NW / ...|     W00146|     Member|
|     136|               null|               null|           31104|Adams Mill & Colu...|         31112|Harvard St & Adam...|     W23076|     Member|
|    1255|               null|               null|           31116|California St & F...|         31205|      21st & I St NW|     W20351|     Casual|
|     877|               null|               null|           31116|California St & F...|         31275|New Hampshire Ave...|     W20960|     Casual|
|    1252|               null|2019-03-31 03:00:52|           31245|7th & R St NW / S...|         31513|Rhode Island Ave ...|     W23692|     Member|
|     438|               null|2019-03-31 03:01:47|           31214|17th & Corcoran S...|         31103|16th & Harvard St NW|     W01088|     Member|
|    3687|               null|2019-03-31 03:40:54|           31109|       7th & T St NW|         31258|    Lincoln Memorial|     W22513|     Casual|
|     267|               null|               null|           31102| 11th & Kenyon St NW|         31120|10th & Florida Av...|      75651|     Member|
|    3375|               null|2019-03-31 03:06:54|           31236|37th & O St NW / ...|         31236|37th & O St NW / ...|     W21413|     Casual|
|    1005|               null|               null|           31116|California St & F...|         31275|New Hampshire Ave...|     W22999|     Casual|
|    1035|               null|               null|           31116|California St & F...|         31275|New Hampshire Ave...|     W21324|     Casual|
|    1087|               null|               null|           31225|C & O Canal & Wis...|         31225|C & O Canal & Wis...|     W21238|     Casual|
|     299|               null|               null|           31114|18th St & Wyoming...|         31282|      16th & R St NW|     W22313|     Member|
|     844|               null|               null|           31258|    Lincoln Memorial|         31248|Smithsonian-Natio...|     W23928|     Member|
|     298|               null|               null|           31278|      18th & R St NW|         31229|New Hampshire Ave...|     W20850|     Member|
|     424|               null|               null|           31203|14th & Rhode Isla...|         31503|Florida Ave & R S...|     W20168|     Member|
|     263|               null|               null|           31125|      15th & W St NW|         31602|Park Rd & Holmead...|      78345|     Member|
|     879|               null|               null|           31278|      18th & R St NW|         31519|       1st & O St NW|     W01363|     Member|
|     194|               null|               null|           31203|14th & Rhode Isla...|         31245|7th & R St NW / S...|     W23885|     Member|
|    1338|               null|               null|           31225|C & O Canal & Wis...|         31225|C & O Canal & Wis...|     W21930|     Casual|
|    1131|               null|               null|           31114|18th St & Wyoming...|         31265|5th St & Massachu...|     W00504|     Member|
|     260|               null|               null|           31020|Wilson Blvd & N F...|         31029|N Veitch St & 20t...|     W00996|     Member|
|     481|               null|               null|           31114|18th St & Wyoming...|         31202|      14th & R St NW|     W01194|     Member|
|   21859|               null|2019-03-31 08:33:09|           31120|10th & Florida Av...|         31296|Columbia & Ontari...|      75651|     Member|
|     706|               null|               null|           31255|      24th & N St NW|         31653|       7th & K St NW|     W01173|     Member|
|    1639|               null|               null|           31508|Gallaudet / 8th S...|         31119|14th & Belmont St NW|      78240|     Member|
|     510|               null|               null|           31200|Massachusetts Ave...|         31251|      12th & L St NW|     W23836|     Member|
|     687|               null|2019-03-31 03:01:02|           31200|Massachusetts Ave...|         31305|Connecticut Ave &...|     W01063|     Member|
|     620|               null|               null|           31202|      14th & R St NW|         31519|       1st & O St NW|     W01348|     Member|
|     230|2019-01-01 00:04:48|2019-01-01 00:08:39|           31203|14th & Rhode Isla...|         31200|Massachusetts Ave...|     E00141|     Member|
|    1549|2019-01-01 00:06:37|2019-01-01 00:32:27|           31321|15th St & Constit...|         31114|18th St & Wyoming...|     W24067|     Casual|
|     177|2019-01-01 00:08:46|2019-01-01 00:11:44|           31104|Adams Mill & Colu...|         31323|Woodley Park Metr...|     W22654|     Casual|
|     228|2019-01-01 00:08:47|2019-01-01 00:12:35|           31281|       8th & O St NW|         31280|      11th & S St NW|     W22336|     Member|
|    1300|2019-01-01 00:12:29|2019-01-01 00:34:10|           31014|Lynn & 19th St North|         31923|Columbia Pike & S...|      70004|     Member|
|    1202|2019-01-01 00:12:50|2019-01-01 00:32:53|           31618|4th & East Capito...|         31269|3rd St & Pennsylv...|     W20775|     Member|
|     389|2019-01-01 00:14:18|2019-01-01 00:20:47|           31103|16th & Harvard St NW|         31126| 11th & Girard St NW|     W00761|     Member|
|     322|2019-01-01 00:17:34|2019-01-01 00:22:57|           31022|Clarendon Metro /...|         31030|Lee Hwy & N Adams St|     W23797|     Member|
|     987|2019-01-01 00:17:51|2019-01-01 00:34:19|           31404|  9th & Upshur St NW|         31118|     3rd & Elm St NW|     W20474|     Member|
|     960|2019-01-01 00:18:19|2019-01-01 00:34:20|           31404|  9th & Upshur St NW|         31118|     3rd & Elm St NW|     W00006|     Member|
|    1965|2019-01-01 00:19:54|2019-01-01 00:52:39|           31305|Connecticut Ave &...|         31126| 11th & Girard St NW|     W20546|     Member|
+--------+-------------------+-------------------+----------------+--------------------+--------------+--------------------+-----------+-----------+
only showing top 100 rows

In [13]:
start_stations = bike_data.select('start_station_id').distinct()
start_stations = start_stations.withColumn('station_id', start_stations['start_station_id']).select('station_id')

In [14]:
end_stations = bike_data.select('end_station_id').distinct()
end_stations = end_stations.withColumn('station_id', end_stations['end_station_id']).select('station_id')

In [15]:
end_stations.count()

581

We have one different station, so we create a union and and collect all station information with relevant ids.

In [16]:
#all mentioned stations difference 1 station
start_stations.subtract(end_stations)

+----------+
|station_id|
+----------+
|     31718|
+----------+

In [17]:
all_used_stations = start_stations.union(end_stations).distinct()
used_stations = all_used_stations.join(stations, all_used_stations.station_id == stations.terminalName)

We can see that we have a different number when joining used data with the originally listed ones. The difference is in 4 stations.

In [18]:
print(all_used_stations.count())
print(used_stations.count())

582
578

In [19]:
all_used_stations.select('station_id').subtract(stations.select('terminalName'))

+----------+
|station_id|
+----------+
|     31086|
|     31008|
|     32031|
|     00000|
+----------+

In [20]:
undefined = bike_data.where(bike_data['start_station_id'].isin("31086", "00000", "31008", "32031")).select('start_station_id', 'start_station_name')

In [21]:
undefined.where(undefined['start_station_id'].like("00000")).count()

498

In [22]:
undefined_distinct = undefined.select('start_station_name', 'start_station_id').distinct()

In [23]:
undefined_list = undefined_distinct.collect()

In [24]:
undefined_list[1]['start_station_name']

'22nd & H St NW'

In [25]:
stations.where(stations['name'].like('22nd & H St NW'))

+---+--------------+------------+-----------------+------------------+-------+------------+
| id|          name|terminalName|              lat|              long|nbBikes|nbEmptyDocks|
+---+--------------+------------+-----------------+------------------+-------+------------+
|609|22nd & H St NW|       31127|38.89892546716842|-77.04885238395946|      0|          17|
+---+--------------+------------+-----------------+------------------+-------+------------+

In [26]:
undefined_end = bike_data.where(bike_data['end_station_id'].isin("31086", "00000", "31008", "32031")).select('end_station_id', 'end_station_name')

In [27]:
undefined_end.where(undefined_end['end_station_id'].like("00000")).count()

487

In [28]:
stations = stations.select('id', 'name', 'terminalName', 'lat', 'long', 'nbBikes', 'nbEmptyDocks')

In [29]:
stations.count()

596

In [30]:
station_columns = ['id', 'name', 'terminalName', 'lat', 'long', 'nbBikes', 'nbEmptyDocks']
new_station = spark.createDataFrame([(597, 'Mount Vernon Ave & E Del Ray Ave', '31086', 38.826213, -77.058640, 5, 10)], station_columns)
new_station

+---+--------------------+------------+---------+---------+-------+------------+
| id|                name|terminalName|      lat|     long|nbBikes|nbEmptyDocks|
+---+--------------------+------------+---------+---------+-------+------------+
|597|Mount Vernon Ave ...|       31086|38.826213|-77.05864|      5|          10|
+---+--------------------+------------+---------+---------+-------+------------+

In [31]:
stations = stations.union(new_station)

In [32]:
stations.where(stations['terminalName'].like('31086'))

+---+--------------------+------------+---------+---------+-------+------------+
| id|                name|terminalName|      lat|     long|nbBikes|nbEmptyDocks|
+---+--------------------+------------+---------+---------+-------+------------+
|597|Mount Vernon Ave ...|       31086|38.826213|-77.05864|      5|          10|
+---+--------------------+------------+---------+---------+-------+------------+

In [33]:
import pyspark.sql.functions as F

bike_data = bike_data.withColumn('start_station_id', F.when(bike_data['start_station_id'].like('00000'), '31127').otherwise(bike_data['start_station_id']))
bike_data = bike_data.withColumn('end_station_id', F.when(bike_data['end_station_id'].like('00000'), '31127').otherwise(bike_data['end_station_id']))

In [34]:
bike_data.count()

2681728

In [35]:
bike_data = bike_data.withColumn('start_station_id', F.when(bike_data['start_station_id'].isin('31008', '32031'), None).otherwise(bike_data['start_station_id']))
bike_data = bike_data.withColumn('end_station_id', F.when(bike_data['end_station_id'].isin('31008', '32031'), None).otherwise(bike_data['end_station_id']))
bike_data = bike_data.dropna(subset=['start_station_id', 'end_station_id'])

In [36]:
bike_data.count()

2681369

In [37]:
all_used_stations = bike_data.select('start_station_id').distinct()
used_stations = all_used_stations.join(stations, all_used_stations.start_station_id == stations.terminalName)

In [38]:
from ipyleaflet import Map, Marker, MarkerCluster

used_stations = used_stations.collect()
used_markers = [Marker(location=(x.lat, x.long)) for x in used_stations]

m = Map(center=(38.900497, -77.007507), zoom=10)

marker_cluster = MarkerCluster(
    markers=(used_markers)
)

m.add_layer(marker_cluster);

m

Map(center=[38.900497, -77.007507], controls=(ZoomControl(options=['position', 'zoom_in_text', 'zoom_in_title'â€¦

Now, let's calculate distance between stations.

In [39]:
stations.printSchema()

root
 |-- id: string (nullable = true)
 |-- name: string (nullable = true)
 |-- terminalName: string (nullable = true)
 |-- lat: double (nullable = true)
 |-- long: double (nullable = true)
 |-- nbBikes: long (nullable = true)
 |-- nbEmptyDocks: long (nullable = true)

In [40]:
from pyspark.sql.types import *
from pyspark.sql import functions as F
from math import radians, cos, sin, asin, sqrt

#Haversine distance
def get_distance(longit_a, latit_a, longit_b, latit_b):
    # Transform to radians
    longit_a, latit_a, longit_b, latit_b = map(radians, [longit_a,  latit_a, longit_b, latit_b])
    dist_longit = longit_b - longit_a
    dist_latit = latit_b - latit_a
    # Calculate area
    area = sin(dist_latit/2)**2 + cos(latit_a) * cos(latit_b) * sin(dist_longit/2)**2
    # Calculate the central angle
    central_angle = 2 * asin(sqrt(area))
    radius = 6371
    # Calculate Distance
    distance = central_angle * radius * 1000
    return abs(round(distance))

In [41]:
#calculate distance between stations - first 2 for now
udf_get_distance = F.udf(get_distance)
stations_partial = stations.select('id', 'lat', 'long')

In [42]:
station_pairs = (stations_partial.crossJoin(stations_partial).toDF(
"id_A","lat_A", "long_A", "id_B",  
 "lat_B", "long_B"))

In [43]:
station_pairs = (station_pairs.filter(
station_pairs.id_A != station_pairs.id_B))

In [44]:
pairs_distance = station_pairs.withColumn("abs_distance", udf_get_distance(
station_pairs.long_A, station_pairs.lat_A,
station_pairs.long_B, station_pairs.lat_B))

In [45]:
summary = pairs_distance.select(F.max("abs_distance"))

In [46]:
pairs_distance

+----+---------+---------+----+-----------------+------------------+------------+
|id_A|    lat_A|   long_A|id_B|            lat_B|            long_B|abs_distance|
+----+---------+---------+----+-----------------+------------------+------------+
|   1|38.858971|-77.05323|   2|         38.85725|         -77.05332|         192|
|   1|38.858971|-77.05323|   3|        38.856425|        -77.049232|         447|
|   1|38.858971|-77.05323|   4|         38.86017|        -77.049593|         342|
|   1|38.858971|-77.05323|   5|        38.857866|         -77.05949|         556|
|   1|38.858971|-77.05323|   6|        38.862303|        -77.059936|         689|
|   1|38.858971|-77.05323|   7|          38.8637|          -77.0633|        1018|
|   1|38.858971|-77.05323|   8|38.85740496261504|-77.05113172531128|         252|
|   1|38.858971|-77.05323|  10|        38.848466|        -77.051514|        1178|
|   1|38.858971|-77.05323|  11|          38.8426|          -77.0502|        1839|
|   1|38.858971|-77.05323|  12|          38.8533|          -77.0498|         697|
|   1|38.858971|-77.05323|  13|        38.850688|         -77.05152|         933|
|   1|38.858971|-77.05323|  14|          38.9003|          -77.0429|        4682|
|   1|38.858971|-77.05323|  15|        38.917931|        -77.032112|        6806|
|   1|38.858971|-77.05323|  16|        38.929464|        -77.027822|        8141|
|   1|38.858971|-77.05323|  17|        38.926088|        -77.036536|        7602|
|   1|38.858971|-77.05323|  18|        38.922925|        -77.042581|        7171|
|   1|38.858971|-77.05323|  19|          38.9268|          -77.0322|        7759|
|   1|38.858971|-77.05323|  20|        38.923203|        -77.047637|        7159|
|   1|38.858971|-77.05323|  21|          38.9319|          -77.0388|        8205|
|   1|38.858971|-77.05323|  22|          38.8767|          -77.0178|        3646|
+----+---------+---------+----+-----------------+------------------+------------+
only showing top 20 rows

In [47]:
bike_data.printSchema()

root
 |-- duration: integer (nullable = true)
 |-- start_date: timestamp (nullable = true)
 |-- end_date: timestamp (nullable = true)
 |-- start_station_id: string (nullable = true)
 |-- start_station_name: string (nullable = true)
 |-- end_station_id: string (nullable = true)
 |-- end_station_name: string (nullable = true)
 |-- bike_number: string (nullable = true)
 |-- member_type: string (nullable = true)

In [48]:
bike_data.groupBy('member_type').count()

+-----------+-------+
|member_type|  count|
+-----------+-------+
|     Member|2346033|
|     Casual| 335336|
+-----------+-------+

In [49]:
bike_data

+--------+-------------------+-------------------+----------------+--------------------+--------------+--------------------+-----------+-----------+
|duration|         start_date|           end_date|start_station_id|  start_station_name|end_station_id|    end_station_name|bike_number|member_type|
+--------+-------------------+-------------------+----------------+--------------------+--------------+--------------------+-----------+-----------+
|     207|2019-09-01 00:00:27|2019-09-01 00:03:54|           31246|M St & Pennsylvan...|         31128|      23rd & M St NW|     W21128|     Member|
|     726|2019-09-01 00:00:46|2019-09-01 00:12:52|           31124| 14th & Irving St NW|         31116|California St & F...|     W01208|     Member|
|    4401|2019-09-01 00:00:48|2019-09-01 01:14:10|           31129|15th St & Pennsyl...|         31277|      17th & G St NW|     W23690|     Casual|
|     388|2019-09-01 00:01:01|2019-09-01 00:07:30|           31648|Potomac Ave & Hal...|         31609|Maine Ave & 7th S...|     W20449|     Member|
|     537|2019-09-01 00:01:09|2019-09-01 00:10:07|           31200|Massachusetts Ave...|         31229|New Hampshire Ave...|     W20206|     Member|
|      89|2019-09-01 00:01:39|2019-09-01 00:03:08|           31232|7th & F St NW / N...|         31620|       5th & F St NW|     W00942|     Member|
|     770|2019-09-01 00:02:05|2019-09-01 00:14:56|           31129|15th St & Pennsyl...|         31235|19th St & Constit...|     W23948|     Casual|
|     422|2019-09-01 00:02:14|2019-09-01 00:09:16|           31237|25th St & Pennsyl...|         31293|  31st & Water St NW|     W00183|     Casual|
|     774|2019-09-01 00:02:14|2019-09-01 00:15:08|           31129|15th St & Pennsyl...|         31235|19th St & Constit...|     W01337|     Casual|
|     405|2019-09-01 00:03:02|2019-09-01 00:09:47|           31237|25th St & Pennsyl...|         31289|Henry Bacon Dr & ...|     W21345|     Member|
|    1676|2019-09-01 00:03:06|2019-09-01 00:31:03|           32029|Offutt Ln & Chevy...|         32002|Bethesda Ave & Ar...|     W21391|     Member|
|    1356|2019-09-01 00:03:28|2019-09-01 00:26:05|           31321|15th St & Constit...|         31307|3000 Connecticut ...|     W20442|     Member|
|    1090|2019-09-01 00:03:39|2019-09-01 00:21:49|           31514|  Hamlin & 7th St NE|         31640|Maryland Ave & E ...|     W22030|     Member|
|     525|2019-09-01 00:03:46|2019-09-01 00:12:32|           31277|      17th & G St NW|         31267|17th St & Massach...|     W21408|     Member|
|     213|2019-09-01 00:04:03|2019-09-01 00:07:36|           31128|      23rd & M St NW|         31285|      22nd & P ST NW|     W22332|     Member|
|     583|2019-09-01 00:04:36|2019-09-01 00:14:19|           31606|Potomac & Pennsyl...|         31652|       4th & M St SE|     W24030|     Member|
|     142|2019-09-01 00:04:36|2019-09-01 00:06:58|           31104|Adams Mill & Colu...|         31106|Calvert & Biltmor...|     W20646|     Member|
|     554|2019-09-01 00:05:00|2019-09-01 00:14:15|           31606|Potomac & Pennsyl...|         31652|       4th & M St SE|     W22967|     Member|
|    1018|2019-09-01 00:05:05|2019-09-01 00:22:04|           31234|20th & O St NW / ...|         31627|       3rd & M St NE|     W20469|     Casual|
|     900|2019-09-01 00:05:21|2019-09-01 00:20:21|           31229|New Hampshire Ave...|         31122| 16th & Irving St NW|     W20860|     Casual|
+--------+-------------------+-------------------+----------------+--------------------+--------------+--------------------+-----------+-----------+
only showing top 20 rows

In [50]:
bike_data.groupBy('bike_number').count()

+-----------+-----+
|bike_number|count|
+-----------+-----+
|     W00474|  745|
|     W00826|  529|
|     W00254|  555|
|     W20296|  532|
|     W20676|  678|
|     W23518|  456|
|     W22623|  552|
|     W22547|  731|
|     W21144|  594|
|     W22173|  799|
|     W00746|  275|
|     W00117|  327|
|     W20024|  353|
|     W21495|  344|
|     W21869|  434|
|     W22337|  586|
|     W21528|  245|
|     W01020|  259|
|      77814|   15|
|     W22837|  141|
+-----------+-----+
only showing top 20 rows

In [51]:
bikes_partial = bike_data.select('start_station_id', 'end_station_id')
stations_partial = stations.select('terminalName','lat', 'long')
bikes_joined = bikes_partial.join(stations_partial.withColumnRenamed('lat','lat_start'), bike_data.start_station_id == stations.terminalName)

In [52]:
bikes_joined

+----------------+--------------+------------+---------+----------+
|start_station_id|end_station_id|terminalName|lat_start|      long|
+----------------+--------------+------------+---------+----------+
|           31039|         31092|       31039|38.880012|-77.107854|
|           31039|         31038|       31039|38.880012|-77.107854|
|           31039|         31089|       31039|38.880012|-77.107854|
|           31039|         31215|       31039|38.880012|-77.107854|
|           31039|         31920|       31039|38.880012|-77.107854|
|           31039|         31901|       31039|38.880012|-77.107854|
|           31039|         31089|       31039|38.880012|-77.107854|
|           31039|         31075|       31039|38.880012|-77.107854|
|           31039|         31003|       31039|38.880012|-77.107854|
|           31039|         31905|       31039|38.880012|-77.107854|
|           31039|         31905|       31039|38.880012|-77.107854|
|           31039|         31923|       31039|38.880012|-77.107854|
|           31039|         31078|       31039|38.880012|-77.107854|
|           31039|         31078|       31039|38.880012|-77.107854|
|           31039|         31016|       31039|38.880012|-77.107854|
|           31039|         31016|       31039|38.880012|-77.107854|
|           31039|         31078|       31039|38.880012|-77.107854|
|           31039|         31020|       31039|38.880012|-77.107854|
|           31039|         31900|       31039|38.880012|-77.107854|
|           31039|         31923|       31039|38.880012|-77.107854|
+----------------+--------------+------------+---------+----------+
only showing top 20 rows

In [53]:
bike_data.count()

2681369

In [54]:
stations.count()**2

356409

In [ ]:
pairs_distance = station_pairs.withColumn("abs_distance", udf_get_distance(
station_pairs.long_A, station_pairs.lat_A,
station_pairs.long_B, station_pairs.lat_B))

In [57]:
 bikes = bike_data
 bikes_joined = bikes.join(stations_partial.withColumnRenamed('lat','lat_start').withColumnRenamed('long','long_start'), bikes.start_station_id == stations.terminalName)
 bikes_joined = bikes_joined.join(stations_partial.withColumnRenamed('lat','lat_end').withColumnRenamed('long','long_end'), bikes.end_station_id == stations.terminalName)

In [58]:
bikes_joined

+--------+-------------------+-------------------+----------------+------------------+--------------+----------------+-----------+-----------+------------+---------+----------+------------+-----------------+------------------+
|duration|         start_date|           end_date|start_station_id|start_station_name|end_station_id|end_station_name|bike_number|member_type|terminalName|lat_start|long_start|terminalName|          lat_end|          long_end|
+--------+-------------------+-------------------+----------------+------------------+--------------+----------------+-----------+-----------+------------+---------+----------+------------+-----------------+------------------+
|    1315|2019-09-03 18:50:05|2019-09-03 19:12:00|           31109|     7th & T St NW|         31109|   7th & T St NW|     W21554|     Member|       31109|  38.9155|  -77.0222|       31000|        38.858971|         -77.05323|
|    1315|2019-09-03 18:50:05|2019-09-03 19:12:00|           31109|     7th & T St NW|         31109|   7th & T St NW|     W21554|     Member|       31109|  38.9155|  -77.0222|       31001|         38.85725|         -77.05332|
|    1315|2019-09-03 18:50:05|2019-09-03 19:12:00|           31109|     7th & T St NW|         31109|   7th & T St NW|     W21554|     Member|       31109|  38.9155|  -77.0222|       31002|        38.856425|        -77.049232|
|    1315|2019-09-03 18:50:05|2019-09-03 19:12:00|           31109|     7th & T St NW|         31109|   7th & T St NW|     W21554|     Member|       31109|  38.9155|  -77.0222|       31003|         38.86017|        -77.049593|
|    1315|2019-09-03 18:50:05|2019-09-03 19:12:00|           31109|     7th & T St NW|         31109|   7th & T St NW|     W21554|     Member|       31109|  38.9155|  -77.0222|       31004|        38.857866|         -77.05949|
|    1315|2019-09-03 18:50:05|2019-09-03 19:12:00|           31109|     7th & T St NW|         31109|   7th & T St NW|     W21554|     Member|       31109|  38.9155|  -77.0222|       31005|        38.862303|        -77.059936|
|    1315|2019-09-03 18:50:05|2019-09-03 19:12:00|           31109|     7th & T St NW|         31109|   7th & T St NW|     W21554|     Member|       31109|  38.9155|  -77.0222|       31006|          38.8637|          -77.0633|
|    1315|2019-09-03 18:50:05|2019-09-03 19:12:00|           31109|     7th & T St NW|         31109|   7th & T St NW|     W21554|     Member|       31109|  38.9155|  -77.0222|       31007|38.85740496261504|-77.05113172531128|
|    1315|2019-09-03 18:50:05|2019-09-03 19:12:00|           31109|     7th & T St NW|         31109|   7th & T St NW|     W21554|     Member|       31109|  38.9155|  -77.0222|       31009|        38.848466|        -77.051514|
|    1315|2019-09-03 18:50:05|2019-09-03 19:12:00|           31109|     7th & T St NW|         31109|   7th & T St NW|     W21554|     Member|       31109|  38.9155|  -77.0222|       31010|          38.8426|          -77.0502|
|    1315|2019-09-03 18:50:05|2019-09-03 19:12:00|           31109|     7th & T St NW|         31109|   7th & T St NW|     W21554|     Member|       31109|  38.9155|  -77.0222|       31011|          38.8533|          -77.0498|
|    1315|2019-09-03 18:50:05|2019-09-03 19:12:00|           31109|     7th & T St NW|         31109|   7th & T St NW|     W21554|     Member|       31109|  38.9155|  -77.0222|       31012|        38.850688|         -77.05152|
|    1315|2019-09-03 18:50:05|2019-09-03 19:12:00|           31109|     7th & T St NW|         31109|   7th & T St NW|     W21554|     Member|       31109|  38.9155|  -77.0222|       31100|          38.9003|          -77.0429|
|    1315|2019-09-03 18:50:05|2019-09-03 19:12:00|           31109|     7th & T St NW|         31109|   7th & T St NW|     W21554|     Member|       31109|  38.9155|  -77.0222|       31101|        38.917931|        -77.032112|
|    1315|2019-09-03 18:50:05|2019-09-03 19:12:00|           31109|     7th & T St NW|         31109|   7th & T St NW|     W21554|     Member|       31109|  38.9155|  -77.0222|       31102|        38.929464|        -77.027822|
|    1315|2019-09-03 18:50:05|2019-09-03 19:12:00|           31109|     7th & T St NW|         31109|   7th & T St NW|     W21554|     Member|       31109|  38.9155|  -77.0222|       31103|        38.926088|        -77.036536|
|    1315|2019-09-03 18:50:05|2019-09-03 19:12:00|           31109|     7th & T St NW|         31109|   7th & T St NW|     W21554|     Member|       31109|  38.9155|  -77.0222|       31104|        38.922925|        -77.042581|
|    1315|2019-09-03 18:50:05|2019-09-03 19:12:00|           31109|     7th & T St NW|         31109|   7th & T St NW|     W21554|     Member|       31109|  38.9155|  -77.0222|       31105|          38.9268|          -77.0322|
|    1315|2019-09-03 18:50:05|2019-09-03 19:12:00|           31109|     7th & T St NW|         31109|   7th & T St NW|     W21554|     Member|       31109|  38.9155|  -77.0222|       31106|        38.923203|        -77.047637|
|    1315|2019-09-03 18:50:05|2019-09-03 19:12:00|           31109|     7th & T St NW|         31109|   7th & T St NW|     W21554|     Member|       31109|  38.9155|  -77.0222|       31107|          38.9319|          -77.0388|
+--------+-------------------+-------------------+----------------+------------------+--------------+----------------+-----------+-----------+------------+---------+----------+------------+-----------------+------------------+
only showing top 20 rows

In [ ]:
bikes = bikes_joined.withColumn("abs_distance", udf_get_distance(
bikes_joined.long_start, station_pairs.lat_start,
station_pairs.long_end, station_pairs.lat_end))